label {
  display: inline-block;
  width: 90px;
  margin-bottom: 10px;
}

input, textarea {
  width: 260px;
  padding: 6px;
  border: 1px solid #999;
}

textarea {
  width: 500px;
  height: 180px;
  vertical-align: top;
}

button {
  margin-top: 10px;
  padding: 6px 10px;
}

.resultado {
  margin-top: 12px;
}
.field-error {
  color: red;
}