body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: url("imgs/blackJack-backgroundTable.jpg");
}

#title{
    text-align: center;
    background-color: rgb(2, 65, 2);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px;

}
section{
    border: 3px solid black;
    margin: 20px 200px 20px 200px;
    padding: 10px;
    text-align: center;
    font-size: 0.75pc;
    background-color: antiquewhite;
}